@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}

.container-d {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

header {
    background-color: rgb(240, 240, 240);
    height: 15%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

header div {
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 85%;
}

.details-body{
    width: 90%;
    height: 400px;
    background: white;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header form button {
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    cursor: pointer;
}

header a{
   margin-left: 2%;
   font-size: 24px;
   cursor: pointer;
}

.middle-body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.middle-body-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
    flex-direction: column;
}

.comments{
    width: 100%;
    background: white;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.grid-div {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    width: 90%;
    height: auto;
}

.sub-grid {
    width: 300px;
    height: 450px;
    background-color: rgba(247, 247, 247, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    padding: 5%;
    overflow: hidden;
    display: grid;
    flex-direction: column;
}

.img-head {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(219, 218, 218, 0.8);
    align-items: center;
    border-radius: 40px;
}

.title-head {
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-top: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-head {
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-top: 3%;
}

.excerpt-head {
    color: rgb(155, 153, 153);
    font-size: 16px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-top: 2%;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.3em;
    max-height: 12em;
}
.comment-head {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-top: 2%;
    line-height: 1.3em;
    max-height: 12em;
    width: 100%;
}

.comment-data {
    color: rgb(92, 92, 92);
    font-size: 16px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.3em;
    max-height: 12em;
}

.footer {
    background-color: #1a1a1a;
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: #1a1a1a;
    width: 80%;
    height: 100vh;
    border-radius: 5px;
    top: -8vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.element1 {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 20vh;
    border-radius: 5px;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.element2 {
    display: flex;
    height: 50vh;
    justify-content: space-around;
}

.element3 {
    display: flex;
    height: 30vh;
    justify-content: space-around;
}

.footer-widget-subscribe {
    width: 75%;
    margin-right: 5%;
}

.text {
    color: #fff;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta {
    width: 33%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    align-items: center;
    height: 100%;
}

.single-cta i {
    color: #000;
    font-size: 2.5vw;
}
.cta-text {
    padding-left: 1.3vw;
    display: inline-block;
}

.cta-text {
    padding-left: 1.3vw;
}

.cta-text h4 {
    color: #000;
    font-size: 1.7vw;
    font-weight: 600;
    margin-bottom: 1%;
}
.cta-text span {
    color: #bbb9b9;
    font-size: 1.3vw;
}

.footer-widget {
    width: 32%;
    margin-right: 1%;
}

.footer-text p {
    margin-bottom: 3%;
    font-size: 1.2vw;
    color: #d2cfcf;
    line-height: normal;
}

.footer-text-subs p {
    margin-bottom: 2%;
    font-size: 1vw;
    color: #d2cfcf;
    line-height: normal;
}

.footer-widget-heading {
    margin-bottom: 6%;
}

.footer-widget-heading-subs {
    margin-bottom: 2%;
}

.footer-widget-heading h3 {
    color: #fff;
    margin-top: 3vh;
    font-size: 1.8vw;
    font-weight: 600;
}

.footer-widget-heading div {
    height: 0.4vh;
    width: 4vw;
    background: #ff5e14;
}

.footer-widget-heading-subs h3 {
    color: #fff;
    font-size: 1.8vw;
    font-weight: 600;
}

.footer-widget-heading-subs div {
    height: 0.4vh;
    width: 4vw;
    background: #ff5e14;
}

.footer-widget ul li {
    list-style: none;
    float: left;
    width: 50%;
    margin-bottom: 2vh;
    font-size: 1.4vw;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form form {
    display: flex;
    flex-direction: row;
}

.subscribe-form input {
    width: 100%;
    padding: 1vw 2vw;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
    font-size: 1.2vw;
}

.subscribe-form button {
    right: 0;
    background: #ff5e14;
    padding: 1vw 2vw;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 2vw;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 2.3vw 0;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.copyright-text p {
    margin: 0;
    font-size: 1.2vw;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 1.9vw;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 1.2vw;
    color: #878787;
}

.footer-menu {
    margin-top: 1vh;
}

.plus-button {
    position: fixed;
    background-color: rgb(155, 153, 153);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.plus-button i {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.create-blog {
    display: none;
    position: fixed;
    backface-visibility: hidden;
    background-color: rgba(155, 153, 153, 0.5);
    width: 100%;
    height: 100vh;
    bottom: 0px;
    justify-content: flex-end;
    align-items: flex-end;
}

.create-box {
    width: 600px;
    height: 400px;
    background-color: #fff;
    margin-bottom: 100px;
    margin-right: 100px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-box {
    width: 600px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    width: 74%;
    height: 7%;
    border: 1px solid rgb(155, 153, 153);
    margin-top: 2%;
    border-radius: 10px;
    padding-right: 3%;
    padding-left: 3%;
}
.details-t {
    width: 74%;
    border: 1px solid rgb(155, 153, 153);
    margin-top: 2%;
    border-radius: 10px;
    padding-right: 3%;
    padding-left: 3%;
    resize: none;
}

input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}

.create-button {
    width: 80%;
    height: 10%;
    border: 1px solid #cacaca;
    margin-top: 5%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(155, 153, 153);
}

.no-post{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.message {
    width: 80%;
    color: red;
    font-size: 12px;
}
